<h1>Reset your password</h1>

<p>We received a request to reset your password. Click the button below to choose a new one:</p>

<p><a href="<%= edit_password_url(@user.password_reset_token) %>" class="btn">Reset Password</a></p>

<p class="muted">This link will expire in <%= distance_of_time_in_words(0, @user.password_reset_token_expires_in) %>.</p>

<p class="muted">If you didn't request this, you can safely ignore this email.</p>
