<div id="feedback_widget" class="feedback-success">
  <div class="feedback-success-content">
    <span class="feedback-success-icon">&#10003;</span>
    <span>Thanks for your feedback!</span>
  </div>
</div>
